# API Scenauria
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_VIEWER_URL=http://localhost:5173

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Auth
NEXTAUTH_SECRET=change_me
NEXTAUTH_URL=http://localhost:3000
